<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>


    <main>
        <div class="card">
            <form method="post" action="/login" class="p-5">
                <input name="mail" type="email" placeholder="Your email id" class="form-control mb-3" />
                <input name="password" type="password" placeholder="Your password" class="form-control mb-3" />
              <h1>  <%= message %> </h1>
                <div class="row">
                    <div class="col d-flex justify-content-center"><button class="btn btn-dark px-5">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>